// Breakpoints
//
// <ul>
//  <li><strong>$bpMobilePortrait</strong> - Normal smartphone in portrait mode</li>
//  <li><strong>$bpMobilePortraitLarge</strong> - Large smartphone in portrait mode</li>
// </ul>
//
// Styleguide 1.1

$bpMobilePortrait: 320;
$bpMobilePortraitLarge: 480;



// $bpMobileLandscape
//
// Normal smartphone in landscape mode
//
// Styleguide 2.3

$bpMobileLandscape: 640;



// $bpTabletPortrait
//
// Normal tablet in portrait mode
//
// Styleguide 2.4

$bpTabletPortrait: 768;



// $bpTabletLandscape
//
// Normal tablet in landscape mode
//
// Styleguide 2.5

$bpTabletLandscape: 800;



// $bpDesktop
//
// Everything bigger than a normal tablet
//
// Styleguide 2.6

$bpDesktop: 1024;


// $formBreakpoint
//
// Breakpoint for forms
//
// Styleguide 2.8

$formBreakpoint: $bpMobileLandscape;

// $breakPoints
//
// A list with all the above values, starting from 0 to $bpDesktop
//
// Styleguide 2.7

$breakPoints: 0, $bpMobilePortrait, $bpMobilePortraitLarge, $bpMobileLandscape, $bpTabletPortrait, $bpTabletLandscape, $bpDesktop;
