/* ---------------------------------------------------------------------- *\
  COLUMNS WIDTH
  - a list (1 4 1 5 3) - returns the widths in percentage
  - equal - works only for tables
  - false
\* ---------------------------------------------------------------------- */

// Calculate the general aspect ratio starting from an arbitrary number (1)
$colRatio: 1;
@for $i from 1 through 7 {
  $colListLast: last($colRatio);
  $colRatio: append($colRatio, $colListLast * $ratio);
}


@function colsWidth($cols: false) {
  
  @if type-of($cols) == list {
    // read the list and calculate the percentages

    // retrieve the ratio corresponding to each column and add them together
    // this will give the third value (customized total) before applying the rule of three to each value
    $colSum: 0;
    @each $colVal in $cols {
      $colSum: $colSum + nth($colRatio, $colVal);
    }

    // apply the rule of three to find out the width for each column
    // so far we have:
    // - we know that all columns added together are 100%
    // - the corresponding value for 100% is $colSum
    // - we have the proportion for each column width
    // we only need to apply: columns width = proportion * 100 / $colSum
    $colsWidth: ();

    @each $colVal in $cols {
      $colsWidth: append($colsWidth, nth($colRatio, $colVal) * 100 / $colSum);
    }    


  } @else if $cols == equal {

    // if the parent is a table, then all columns can have 1% so that they are equal
    $colsWidth: 1%;

  } @else {

    $colsWidth: false;

  }

  @return $colsWidth;
}
