// REM Support
//
// $REMsupport - flag for REM support. REM is not supported in IE8
//
// variables.rem

$REMsupport: false!default;



// IE8 Support
//
// $ie - default value for IE8.
// You can use this in your build process to separate IE8 from the rest
//
// variables.ie

$ie: false!default;



// Font weights
//
// Choose what font weights to import

$fontWeights: (200, 300, 400, 600, 700, 800)!default;


// Icons
//
// Import icon fonts

$iconFonts: true!default;


// Generate show classes for general breakpoints
//
// activate the @breakPointsCols mixin

$breakPointsCols: true!default;


// Wrapper max width
//
// The maximum width the page should stretch to

$maxWrapWidth: 1200px!default;




// Articles style

$article: true!default;
$emphasisBox: true!default;
$emphasisTable: true!default;


// Buttons
$buttons: true!default;
