// General hero / billboard component
.hero-v2 {
  &,
  &--centered,
  &--right {
    @include hero (
      $heroColor:              $colorFontLight,
      $heroPaddingTop:         2,
      $heroBackgroundPosition: ct
    );

    padding-bottom: rem(5);
    position: relative;
    background-color: $ColorBrand1;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      @include posAbs(0, 0, 0, 0, 1);
      @include gradient(vertical, $heroGradientSmall);
      display: block;
    }

    .wrap {
      @extend .cl--a;
      position: relative;
      z-index: 2;
    }

    figure {
      margin: 0;
    }

    [class*="btn"] {
      margin-top: rem(1);
    }

    .hero_content {
      > * {
        margin-bottom: 0;
      }
    }

    // general styling
    &_title {
      @include font(heroFontNote($heroFontNoteTitle, small), true, 400);
    }

    &_subtitle {
      @include font(heroFontNote($heroFontNoteSubtitle, small), true, 400);
      margin-top: rem(.5);
    }

    &_info {
      display: block;
      margin: rem(2 0 0);
      padding-top: rem(1.5);
      border-top-width: 1px;
      border-top-style: solid;
    }


    // small
    @include breakPoints(false, first($bpHeroList)) {
      text-align: center;

      .hero-v2_content {
        margin: 0 auto;
      }

      &:before {
        @include gradient(vertical, $heroGradientSmall);
      }
    }

    // medium
    @include breakPoints($bpHeroSmall, false) {
      &_title {
        @include font(heroFontNote($heroFontNoteTitle, medium));
        margin-bottom: rem(1);
      }

      &_subtitle {
        @include font(heroFontNote($heroFontNoteSubtitle, medium));
      }
    }

    // large
    @include breakPoints($bpHeroMedium, false) {
      &_title {
        @include font(heroFontNote($heroFontNoteTitle, large));
      }

      &_subtitle {
        @include font(heroFontNote($heroFontNoteSubtitle, large));
      }
    }

    // xlarge
    @include breakPoints($bpHeroLarge, false) {
      &_title {
        @include font(heroFontNote($heroFontNoteTitle, xlarge));
      }

      height: 0;
      .wrap {
        @include posAbs(false, 0, 5, 0);
      }
    }

  }

  // regular / left
  & {
    @include breakPoints(first($bpHeroList), false) {
      &:before {
        @include gradient(horizontal, $heroGradientMedium);
      }
    }
  }


  // centered
  &--centered {
    text-align: center;

    .hero-v2_content {
      margin: 0 auto;
    }

    p {
      @include centerBlock();
    }
  }

  // right
  &--right {

    @include breakPoints(first($bpHeroList), false) {

      .hero-v2_content {
        float: right;
      }

      &:before {
        @include gradient(horizontal, $heroGradientSmall);
      }
    }
  }
}
