$capHeight: .656;

@mixin baseline($fontScale, $fontWeight: regular, $below: 0, $above: 0, $hasChild: false) {
  // during calculations, all values should remain unitless

  /* ------------------- *\
    CALCULATE FONT SIZES
  \* ------------------- */

  // default value
  $fontSize: $fontSizeBase * 1px !default;

  // make sure we don't go too big or too small
  @if $fontScale > 6 {
    $fontScale: 6;
  } @else if $fontScale < -1 {
    $fontScale: -1;
  }

  // STEP 1: if negative parameter, we need to use 1 / $ratio
  @if $fontScale < 0 {
    $calcRatio: 1 / $ratio;
    $calcSqrtRatio: 1 / $sqrtRatio;
    $fontScale: negative($fontScale);
  } @else {
    $calcRatio: $ratio;
    $calcSqrtRatio: $sqrtRatio;
  }

  // STEP 2: calculate the multiplier for each value
  @if $fontScale == 0 {
    $multiplier: 1;
  } @else if $fontScale % 2 == 0 {
    $multiplier: pow($calcRatio, $fontScale / 2);
  } @else {
    $multiplier: pow($calcSqrtRatio, $fontScale);
  }

  // calculate the font size (this needs to be unitless)
  $fontSize: round($fontSizeBase * $multiplier);


  /* --------------------- *\
     CALCULATE LINE HEIGHT
  \* --------------------- */

  $lineHeight: $fontSize * 1.4 !default;

  // we find out the remainder
  $remainder: $fontSize % $fontBaseline;

  // the lineHeight is always a multiple of fontBaseline
  $lineHeight: $fontSize - $remainder + $fontBaseline;


  /* ------------------------- *\
     CALCULATE BASELINE VALUES
  \* ------------------------- */

  $baselineAdjustment: rem($fontSize * (($lineHeight / $fontSize) - $capHeight) / 2 + .00001px);


  /* ------------------------- *\
     SET FONT WEIGHT
  \* ------------------------- */
    $fontWeightNumber: 400;

    @if $fontWeight == thin {
      $fontWeightNumber: 300;
    } @else if $fontWeight == bold {
      $fontWeightNumber: 600;
    }

  /* -------------------- *\
     APPLY ALL THE VALUES
  \* -------------------- */

  font-size: rem($fontSize * 1px);
  line-height: rem($lineHeight * 1px);

  font-weight: $fontWeightNumber;

  padding-top: $baselineAdjustment;

  @if $hasChild {
    & > * {
      position: relative;
      top: negative($baselineAdjustment);

      &:last-child {
        margin-bottom: $baselineAdjustment + rem($below) - $baselineAdjustment;
      }
    }
  } @else {
    margin-bottom: rem($below) - $baselineAdjustment;
  }

}






/* ---------------------------------------------------------------------- *\
  MESSAGES
  - .message / --error / --warning / --success
\* ---------------------------------------------------------------------- */

.message {
  &_title {
    @include baseline(3, regular, 3, 2);
  }

  &_content {
    // @include baseline(1, regular, 2, 3);

    &--1 { @include baseline(0, regular, 1, 5); }
    &--2 { @include baseline(-1, regular, 1, 1); }
    &--3 { @include baseline(6, regular, 1, 1); }
    &--4 { @include baseline(2, regular, 1, 0); }
    &--5 { @include baseline(4, regular, 0, 2); }
  }

  &_inner {
    @include baseline(1, regular, 4, 2);

    &--child {
      background: rgba(0,0,0,.2);
      @include baseline(1, regular, 3, 5, true);
    }
  }
}

