.address-lookup {
  .search-form {

    position: relative;
    margin-bottom: rem(1);

    div {
      float: left;
      margin-right: rem(1);
      padding-top: rem(1.6);

      &:first-child {
        padding-top: 0;
        width: 30%;
      }

      &:last-child {
        margin-right: 0;
        padding-top: rem(2);

        @include breakPoints(false, 940) {
          padding-top: 0;
          widows: 100%;
        }

        button {
          margin-bottom: 0;
        }
      }


    }

  }
}
