$breadcrumbsHeight: 42px;
$stepsOffset: 9px;

$arrowsAfterSize: ($breadcrumbsHeight + 2) / 2;
$arrowsBeforeSize: $arrowsAfterSize + $stepsOffset;

$tabletArrowsAfterSize: $arrowsAfterSize + 4;
$tabletArrowsBeforeSize: $arrowsBeforeSize + 4;

.breadcrumbs {
  @include prefix(transition, none);
  * {
    @include prefix(transition, none);
  }

  list-style: none;
  margin: rem(0 auto 2 auto);
  padding: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
  position: relative;
  z-index: 2;

  &_wrap,
  &_wrap--last-step {
    background: $colorBackgroundMain;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background: $colorBackground2;
      display: block;
    }
  }

  &_wrap--last-step:after {
    display: none;
  }

  li {
    display: table-cell;
    width: 1%;
    position: relative;
    background: $colorBackgroundMain;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $breadcrumbsHeight;
    line-height: $breadcrumbsHeight;
    padding-right: rem(1.7);
    text-align: center;
    color: $ColorBrand4;
    @include font(0, false);

    @include prefix(transition, none);

    @include breakPoints(false, $bpMobilePortraitLarge) {
      @include font(-1, false);
      height: $breadcrumbsHeight + 2;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: $arrowsAfterSize solid transparent;
      border-bottom: $arrowsAfterSize solid transparent;
      border-left: $arrowsAfterSize solid $colorBackgroundMain;
      position: absolute;
      right: $stepsOffset;
      top: 0;

      @include breakPoints(false, $bpMobilePortraitLarge) {
        border-top: $tabletArrowsAfterSize solid transparent;
        border-bottom: $tabletArrowsAfterSize solid transparent;
        border-left: $tabletArrowsAfterSize solid $colorBackgroundMain;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: $arrowsBeforeSize solid transparent;
      border-bottom: $arrowsBeforeSize solid transparent;
      border-left: $arrowsBeforeSize solid $colorBackgroundBody;
      position: absolute;
      right: 0;
      top: negative($stepsOffset);

      @include breakPoints(false, $bpMobilePortraitLarge) {
        border-top: $tabletArrowsBeforeSize solid transparent;
        border-bottom: $tabletArrowsBeforeSize solid transparent;
        border-left: $tabletArrowsBeforeSize solid $colorBackgroundBody;
      }
    }

    &:last-child {
      position: static;

      &:before,
      &:after {
        display: none;
      }
    }

    &.is-active {
      color: $colorFontDarkHard;

      &:before {
        border-top: $arrowsBeforeSize solid $colorBackground2;
        border-bottom: $arrowsBeforeSize solid $colorBackground2;

        @include breakPoints(false, $bpMobilePortraitLarge) {
          border-top: $tabletArrowsBeforeSize solid $colorBackground2;
          border-bottom: $tabletArrowsBeforeSize solid $colorBackground2;
        }
      }

      .breadcrumbs_duration {
        display: inline;

        @include breakPoints(false, $bpTabletLandscapeWide) {
          display: none;
        }
      }

      &,
      & ~ * {
        .breadcrumbs_step {
          border: 1px solid $colorFontDarkHard;
          @include borderRadius(50, '%');
          padding: 0 6px;
          display: inline;

          &:before {
            display: none;
          }
        }
      }

      & ~ * {
        background: $colorBackground2;
        color: $colorFontLightHard;

        &:after {
          border-left-color: $colorBackground2;
        }

        .breadcrumbs_step {
          border: 1px solid $colorFontLightHard;
        }
      }
    }
  }

  &_step {
    margin-right: 5px;
    display: inline-block;
    text-indent: -9001px;
    border: 0;
    width: 15px;

    &:before {
      text-indent: 0;
      float: left;
      @extend .fci-icon;
      @extend .fci-tick;
    }
  }

  &_title {
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;

    @include breakPoints(false, $bpMobilePortraitLarge) {
      display: block;
      position: relative;
      line-height: 10px;
      top: -10px;
    }
  }

  &_duration {
    display: none;
    color: $colorFontLightHard;
    font-style: italic;
    margin-left: 5px;
  }
}
