$breadcrumbsHeight: 42px;
$stepsOffset: 9px;

$arrowsAfterHeight: ($breadcrumbsHeight + 2) / 2;
$arrowsBeforeHeight: ($breadcrumbsHeight + 2) /2 + $stepsOffset;

.breadcrumbs {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: rem(2);
  padding: 0;
  position: relative;
  z-index: 2;

  @include prefix(transition, none);
  * {
    @include prefix(transition, none);
  }

  &_wrap {
    background: $colorBackgroundMain;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background: $colorBackground2;
      display: block;
    }

    &.last-step:after {
      display: none;
    }
  }

  li {
    display: table-cell;
    width: 1%;
    position: relative;
    background: $colorBackgroundMain;
    overflow: hidden;
    text-overflow: ellipsis;
    height: $breadcrumbsHeight;
    line-height: $breadcrumbsHeight;
    padding-right: rem(1.7);
    text-align: center;
    color: $ColorBrand4;
    font-size: rem(0.9);

    @include prefix(transition, none);

    @include breakPoints(false, $bpMobilePortraitLarge) {
      font-size: rem(0.7);
      height: $breadcrumbsHeight + 2;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: $arrowsAfterHeight solid transparent;
      border-bottom: $arrowsAfterHeight solid transparent;
      border-left: $arrowsAfterHeight solid $colorBackgroundMain;
      position: absolute;
      right: $stepsOffset;
      top: 0;

      @include breakPoints(false, $bpMobilePortraitLarge) {
        border-top: $arrowsAfterHeight + 4 solid transparent;
        border-bottom: $arrowsAfterHeight + 4 solid transparent;
        border-left: $arrowsAfterHeight + 4 solid $colorBackgroundMain;;
      }
    }

    &:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: $arrowsBeforeHeight solid transparent;
      border-bottom: $arrowsBeforeHeight solid transparent;
      border-left: $arrowsBeforeHeight solid $colorBackgroundBody;
      position: absolute;
      right: 0;
      top: negative($stepsOffset);

      @include breakPoints(false, $bpMobilePortraitLarge) {
        border-top: $arrowsBeforeHeight + 4 solid transparent;
        border-bottom: $arrowsBeforeHeight + 4 solid transparent;
        border-left: $arrowsBeforeHeight + 4 solid $colorBackgroundBody;
      }
    }

    &:last-child {
      position: static;

      &:before,
      &:after {
        display: none;
      }
    }

    .duration {
      display: none;
      color: $colorFontLightHard;
      font-style: italic;
      margin-left: 5px;
    }

    &.active {
      color: $ColorBrand1;

      &:before {
        border-top: $arrowsBeforeHeight solid $colorBackground2;
        border-bottom: $arrowsBeforeHeight solid $colorBackground2;

        @include breakPoints(false, $bpMobilePortraitLarge) {
          border-top: $arrowsBeforeHeight + 4 solid $colorBackground2;
          border-bottom: $arrowsBeforeHeight + 4 solid $colorBackground2;
        }
      }

      .duration {
        display: inline;

        @include breakPoints(false, $bpTabletLandscapeWide) {
          display: none;
        }
      }

      &,
      & ~ * {
        .step {
          border: 1px solid $ColorBrand1;
          @include borderRadius(50, '%');
          padding: 0 6px;
          display: inline;

          @include breakPoints(false, $bpMobilePortraitLarge) {
            padding: 0 4px;
          }

          &:before {
            display: none;
          }
        }
      }

      & ~ * {
        background: $colorBackground2;
        color: $colorFontLightHard;

        &:after {
          border-left-color: $colorBackground2;
        }

        .step {
          border: 1px solid $colorFontLightHard;
        }
      }
    }



    .step {
      margin-right: 5px;
      display: inline-block;
      text-indent: -9001px;
      border: 0;

      &:before {
        text-indent: 0;
        float: left;
        @extend .fci-icon;
        @extend .fci-tick;
      }
    }

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      z-index: 2;

      @include breakPoints(false, $bpMobilePortraitLarge) {
        display: block;
        position: relative;
        line-height: 10px;
        top: -10px;
      }
    }

  }
}
