/* ---------------------------------------------------------------------- *\
  HERO
  - customize new hero images by adding a data-backgrond attr to &
\* ---------------------------------------------------------------------- */

.hero-wrap[data-background="1"] {
  background-color: $colorBackground-2;
  color: $colorFontLight; 

  @include breakPoints(false,$bpMobilePortraitLarge) {
    color: $colorFontDarkSoft;
  }

  @include breakPoints($bpMobilePortraitLarge,$bpMobileLandscape) {
    h2 {
      @include font(0);
      width: 60%;
    }

    background-image: path('hero/1/s.jpg',image);
  }  

  @include breakPoints($bpMobileLandscape,false) {
    background-image: path('hero/1/l.jpg',image);

    h2 {
      max-width: 60%;
    }
  }
}

.hero-wrap[data-background="business-loan-1"] {
  @include breakPoints(false,$bpMobilePortraitLarge) {
    background-image: path('hero/2/s.jpg', image);
    background-size: contain;
    background-position: bottom center;
    padding-bottom: 15%;
  }

  h2 {
    strong {
      font-weight: 400;
    }
  }

  @include breakPoints($bpMobilePortraitLarge,$bpMobileLandscape) {
    h2 {
      @include font(0);
      width: 60%;
    }

    background-image: path('hero/2/s.jpg',image);

  }
  
  @include breakPoints($bpMobileLandscape,false) {
    background-image: path('hero/2/l.jpg',image);

    h1 {
      max-width: 70%;
    }
  }     
}

.hero-wrap[data-background="business-loan-2"] {
  h2 {
    @include font(4,true,700);
    margin-bottom: rem(0.8);
  }

  h3 {
    @include font(0,true,300);
  }

  @include breakPoints(false,$bpMobileLandscape) {
    background-image: path('hero/3/s.jpg',image);
    background-size: contain;
    background-position: bottom center;
    padding-bottom: 52%;
    position: relative;

    h2 {
      @include font(3);
      color: $colorCtaPrimary;
    } 

    aside {
      @include posAbs(false,false,0,0);
      width: 100%;
      display: block;
    }
  }
  
  @include breakPoints($bpMobileLandscape,false) {
    padding-top: rem(3);
    background-image: path('hero/3/l.jpg',image);

    h2, h3 {
      color: $colorFontLight;
    }
    h3 {
      max-width: 70%;
    } 
  }
}

.hero-wrap[data-background="about-us-1"] {
  @include gradient(angle,($ColorBrand-1 0%, $ColorBrand-5 100%), 25deg);
  color: $colorFontLight;
}

