/* ---------------------------------------------------------------------- *\
  DYNAMIC LOADERS
\* ---------------------------------------------------------------------- */

%posRel {
  position: relative;
}

*[data-dynamic-container] { 
  @include transition(all,300,ms,linear); 


  &[data-dynamic-effect="from-top"] {
    @extend %posRel;
    top: rem(-2);
  }

  &[data-dynamic-effect="from-left"] {
    @extend %posRel;
    left: rem(-2);
  }

  &[data-dynamic-effect="from-right"] {
    @extend %posRel;
    right: rem(-2);
  }

  &[data-dynamic-effect="from-bottom"] {
    @extend %posRel;
    bottom: rem(-2);
  }

  &[data-dynamic-effect="fly-in"] { 
    perspective: rem(10);

    & > * { @include prefix(transform, translateZ(rem(10)), webkit ms); }
  }

  &[data-dynamic-effect="zoom-in"] { @include prefix(transform, scale(0.1), webkit ms); }

  &[data-dynamic-hide] {
    max-height: 0;
  }

}

*[data-dynamic-container="hidden"] { 
  @include opacity(0); 
  
  &[data-dynamic-hide] {
    padding: 0;
    margin: 0;
  }
}

*[data-dynamic-container="visible"] { 
  @include opacity(1); 

  &[data-dynamic-effect="from-top"] { top: rem(0);  }
  &[data-dynamic-effect="from-left"] { left: rem(0);  }
  &[data-dynamic-effect="from-right"] { right: rem(0);  }
  &[data-dynamic-effect="from-bottom"] { bottom: rem(0);  }

  &[data-dynamic-effect="fly-in"] > * { @include prefix(transform, translateZ(0), webkit ms); } 

  &[data-dynamic-effect="zoom-in"] { @include prefix(transform, scale(1), webkit ms); }
  
  &[data-dynamic-hide] { max-height: 100%; }

}
