/* ---------------------------------------------------------------------- *\
  FOOTER
\* ---------------------------------------------------------------------- */

.footer {
  &-sect--1 {
    border: 1px solid $colorDividerMain;
    border-width: 1px 0;
    padding: rem(2 0);
    color: $colorCtaNav;
    font-weight: 300;     
  }

  &-number {
    @include font(5,3,400);
    color: $colorFontDarkSoft;
    margin-bottom: rem(1);

    &-label {
      @include font(0,inherit);
      vertical-align: top;  
    }   
  }

  @include breakPoints(false,$bpMobileLandscape) {
    &-sect--1 {
      text-align: center;
    }
    &-number {
      margin-bottom: 0;

      &-label {
          display: block;
        }
      
      &-wrap {
        margin-bottom: rem(2);
      }
    }

  }

  &-links {
    text-align: center;
    padding: rem(1);    

    a {
      @include font(-1);
      display: inline-block;
      margin: rem(0 1);
      position: relative;   

      &:not(:last-child):after {
        @include posAbs(0,-1);
        content: '|';
        color: $colorDividerMain;
        display: block;
        text-align: right;
        width: 0;
      } 
    }
  }

  &-copy {
    @include font(-1);
    padding: rem(1 0);
    border-top: 1px solid $colorDividerMain;
    color: $colorFontDarkSoft;

    .table {
      @include table(top, 0 $bpMobileLandscape, false false, 6 4);
    }

  }

}
