/* ---------------------------------------------------------------------- *\
  Go to links
\* ---------------------------------------------------------------------- */

$goToLinkSize: rem(4);

.go-to-link {
  @include borderRadius(50, '%');
  @include posAbs(negative($goToLinkSize / 2), 0, false, 0);
  @include centerBlock(0, true);

  display: block;
  z-index: 2;
  width: $goToLinkSize;
  height: $goToLinkSize;
  text-align: center;
  background: inherit;

  svg {
    @include centerBlock(0.8,true);
  }

  &:hover {
    text-decoration: none;
  }

  // other go to links colors

  .bg-1 & path { fill: $colorCtaPrimary; }
  .bg-1 &:hover path { fill: $ColorBrand5; }

  &:before {
    font-size: $goToLinkSize / 3;
    line-height: $goToLinkSize / 1.5;
  }

  &[title] {
    &:after {
      @include font(-1);
      display: block;
      content: attr(title);
      position: absolute;
      bottom: rem(.5);
      text-transform: uppercase;
      white-space: nowrap;
      color: $colorHighlightExternal;
    }
  }

}


// Form subtitles
form h3 {
  margin-bottom: rem(0.5);
  font-weight: 400;
}
