/* ---------------------------------------------------------------------- *\
  HEADER
\* ---------------------------------------------------------------------- */

// hide the radio buttons that control the menu
.menu-state {
  position: absolute;
  left: -9999px;
  top: 0;
}

header {
  border-bottom: 1px solid $colorDividerMain;
  background: $colorBackgroundMain;
}

.header_logo {
  .table {
    & > * {
      vertical-align: middle;
    }
  }
}

.table-logo {

  .img {
    display: block;
  }

  &-symbol { 
    width: 22%;

    img {
      width: 85%;
    }
  }

  &-text {
    img {
      width: 100%;
    }
  }

}

.header_logo:hover .table-logo-symbol img {
  transform: rotateZ(180deg);
}

@include breakPoints(false,$bpMobileLandscape) {

  main[data-role="wrap"] {
    padding-top: $headerHeight;
  }

  header {
    @include pos(0,false,false,0,fixed,95);
    border-bottom: 5px solid $colorDividerMain;
  }

  .header {
    
    &_menu {
      &--user,
      &--main {
        @include pos(0,$position: fixed, $zIndex: 100);
        display: block;
        min-height: 100%;
        padding-top: rem(3);
        width: $responsiveMenuWidth;
        background: $colorDividerDark;
        color: $colorFontLight;
        

        a {
          &:not(.header_trigger--close) {
            display: block;
            padding: rem(0 1.5);
            line-height: rem(3.5);
            border-bottom: 1px solid rgba(255,255,255,0.1);
            color: inherit;

            &:hover {
              text-decoration: none;
              background: rgba(0,0,0,0.1);
            }   
          }
        }

      }

      &--main { 
        left: negative($responsiveMenuWidth);

        input[type="radio"]#menu-state--2:checked + & {
          left: 0;
        }

      } // --main

      &--user {
        right: negative($responsiveMenuWidth);

        input[type="radio"]#menu-state--3:checked + & {
          right: 0;
        }

      } // --user
    } // _menu


    &_loans {
      display: none;
    } // _loans
  
    &_row {
      &--main {
        & > * {
          vertical-align: middle;
          height: $headerHeight;
        }

        & > [data-role="responsive-menu"] { text-align: center; }
      } 
    } // _row

    &_trigger {
    
      &--main,
      &--user {
        width: 10%;
        
        &:before {
          font-size: rem(2);
          color: $colorCtaOn;
        }
        &:hover {
          path {
            fill: $ColorBrand-2;
          }
        }
      } // --main, --user

      &--main {
        svg {
          max-width: rem(2);
        }
      } // --main

      &--user {
        &:before {
          font-size: rem(2.5);
          color: $colorBackground-3;
        }
        svg {
          max-width: rem(3);
        }

        path {
          fill: $colorBackground-3;
        }
      } // --user

      &--close {
        @include font(5, 5);
        @include posAbs(0,1);
        display: block;
        color: $colorFontDarkHard;

        &:hover {
          text-decoration: none;
          color: $ColorBrand-2;
        } 

        main[data-move="right"] & {
          right: auto;
          left: rem(1);
        }

      } // --close
      
    } // _trigger 

    &_logo {
      width: 80%;
      padding: rem(0.3 1);

      .table {
        max-width: 200px;
        @include centerBlock(0,true);
      }

    } // _logo

    &_call {
      padding: rem(1 1.5);  
      display: block;
    } // _call
  }

}

@include breakPoints($bpMobileLandscape,false) {

  .header {

    &_logo {
      width: 33%;
      padding-top: rem(0.8);
    } // _logo

    &_menu {
      &--user {
        margin: 0;
        padding: 0;
        text-align: right;
        
        white-space: nowrap;

        & > * {
          display: inline-block;
          vertical-align: top;
        }
        
        & > a {
          @include font(-1, 3, 700);
          padding: rem(0 1);
          border-left: 1px solid $colorDividerMain;
        }
      } // --user

      &--main {
        a {
          & {
            display: inline-block;
            margin-right: rem(1);
            line-height: rem(2.5);
            position: relative;
          }

          &:before{
            @include posAbs(-7px,0,false,0);
            margin: auto;
            
            @include forIE {
              display: none;
            }

            @include opacity(0);
            
            @include triangle(down, $ColorBrand-1, 0.625);
            content: '';
          }

          &:hover,
          &.is-active {
            text-decoration: none;
            color: $colorCtaOn;

            &:before {
              @include forIE {
                display: block;
              }
              @include opacity(1);
              @include pos($top: -2px);
            }
          }

          header:not(:hover) &:not(.is-active) {
            color: rgb(87,87,87);
          }

        }
      } // --main
    } // _menu

    &_call {
      @include font(-1,3);
      text-align: right;
      padding-right: rem(1);

      span {
        @include font(2,1);
        display: block;
      }
    } // _call

    &_trigger {
      &--close,
      &--main,
      &--user {
        display: none;
      }
    } // _trigger

    &_loans {
      font-weight: 300;
      text-align: right;
      line-height: rem(0.75);
      span {
        @include font(3,3,400);
        display: block;
      }
    } // _loans

    &_row {
      &--secondary {
        // margin-top: -15px;
        &.table > * {
          vertical-align: bottom;
        }
      }

    } // _row

  }

}
