// General hero / billboard component
.hero {
  &,
  &--centered,
  &--right {
    @include hero (
      $heroColor:              $colorFontLight,
      $heroPaddingTop:         2,
      $heroBackgroundPosition: ct
    );

    padding-bottom: rem(5);
    position: relative;
    background-color: $ColorBrand1;
    background-repeat: no-repeat;
    background-size: cover;


    &:before {
      @include posAbs(0, 0, 0, 0, 1);
      @include gradient(vertical, $heroGradientSmall);
      display: block;
    }

    .wrap {
      @extend .cl--a;
      position: relative;
      z-index: 2;
    }

    figure {
      margin: 0;
    }

    h1,
    h2,
    blockquote {
      @include font(2, true, 400);
      margin: rem(0 0 1);
    }

    h1 + h2 {
      @include font(1);
    }

    p,
    figcaption {
      display: block;
      padding-bottom: rem(1.5);
      margin-bottom: rem(1.5);
      border-bottom-width: 1px;
      border-bottom-style: solid;
    }

    [class*="btn"] {
      margin-bottom: 0;
    }

    // small size
    @include breakPoints(false, first($bpHeroList)) {
      text-align: center;

      .hero_content {
        margin: 0 auto;
      }

      &:before {
        @include gradient(vertical, $heroGradientSmall);
      }
    }

    @include breakPoints(last($bpHeroList), false) {
      height: 0;

      .wrap {
        @include posAbs(false, 0, 5, 0);
      }
    }
  }

  // regular / left
  & {
    @include breakPoints(first($bpHeroList), false) {
      h1,
      h2,
      blockquote {
        @include font(4);
        margin: rem(0 0 1.5);
      }

      h1 + h2 {
        @include font(3);
      }

      &:before {
        @include gradient(horizontal, $heroGradientMedium);
      }
    }
  }


  // centered
  &--centered {
    text-align: center;

    .hero_content {
      margin: 0 auto;
    }
  }

  // right
  &--right {

    @include breakPoints(first($bpHeroList), false) {
      text-align: right;

      .hero_content {
        float: right;
      }

      &:before {
        @include gradient(horizontal, $heroGradientSmall);
      }
    }
  }
}
