/* ---------------------------------------------------------------------- *\
  LANGUAGE SELECTOR
\* ---------------------------------------------------------------------- */

.lang-dd {
  @include font(-1,1,400);
  position: relative;
  text-align: left;
  white-space: nowrap;
  display: inline-block;

  .header_menu--user & {
    margin-top: rem(0.7);
  }


  &_current {
    @include clear;

    display: block;
    
    @include breakPoints($bpMobileLandscape, false) {
      background: $colorBackground-2;
    }
    
    padding: rem(0.5 1.5 0.5 0.5);
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      @include triangle(down,$colorFontDarkHard,0.5);
      @include posAbs(0.85,0.5);

      .is-active & {
        @include triangle(up,$colorFontDarkHard,0.5);
        border-top: none;
      }
    }
  }
  
  &_list {
    @include posAbs(0, 0, false, false, -100);
    background: $colorBackground-2;

    // display: none;
    // overflow: hidden;
    height: 0;
    @include opacity(0);


    // functionality 
    .is-active & {
      // display: block;
      height: auto;
      top: rem(3);
      @include opacity(1);
      z-index: 100;
    }

    &:before {
      content: '';
      @include triangle(up,$colorBackground-2,1.4 0.7);
      @include posAbs(-0.7,1);
    }

    a {
      display: block;
      padding: rem(1);
      line-height: rem(1);

      &:hover {
        text-decoration: none;
        background: lighten($colorBackground-2,5%);
      }
    }
  }

  img {
    float: left;
    margin: rem(0.1 0.5 0 0);
    height: rem(0.8);
  }


}

  .header_menu--user {
    

    .lang-dd {
      
      @include breakPoints(false, $bpMobileLandscape) {
        margin: rem(1);
        display: block;
        &_current { 
          background: lighten($colorFontDarkSoft,5%); 
        }

        &_list {
          background: lighten($colorFontDarkSoft,5%);
          width: 100%;

          &:before {
            border-bottom-color: lighten($colorFontDarkSoft,5%);
          }
        }
      }
      
      &_current {
        @include breakPoints($bpMobileLandscape,false) {
          span {
            display: none;
          }
        }

      }

      img {
        float: none;
      }
    }
  }

.footer-copy {
  .lang-dd {
    &_current {
      background: $colorBackground-3;
    }

    &_list {
      background: $colorBackground-3;
      
      &:before {
        @include triangle(up,$colorBackground-3,1.4 0.7);
      }

      a {
        &:hover {
          background: lighten($colorBackground-3,5%);
        }
      }     

    }

  }
}
