/* ---------------------------------------------------------------------- *\
  FT.COM
\* ---------------------------------------------------------------------- */

.sp-ftcom {
  padding: rem(2.5 1);

  h2 {
    @include font(2,true,400);
    margin-bottom: rem(1.5);
  }
  
  p {
    @include font(0,true);
  }
  
  &_img {
    padding-right: rem(1);

    img {
      display: block;
      max-width: 176px;
      
      @include breakPoints(false,$bpMobilePortraitLarge) {
        @include centerBlock(0,2);    
      }
    }
  }
}

.footnotes {
  padding: rem(2 1);
}



/* ---------------------------------------------------------------------- *\
  LOAN CALCULATOR
\* ---------------------------------------------------------------------- */

.wrap--calc-who {
  padding: rem(3 0);
}

.calc-loan {
  padding: rem(2 1);

  h2 {
    @include font(3);
    margin-bottom: rem(1);
  }

  &_values {
    white-space: nowrap;
    line-height: rem(2);
    margin-bottom: rem(2);

    .table > div:nth-child(2) {
      width: 100%;
      vertical-align: middle;
      padding: rem(0 1);

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: $colorBackground-3;
      }
    }

    &_fee {
      @include font(-1, inherit);
    }
  }

  &_footer {
  
    &_note {
      @include font(-1);
      vertical-align: middle;
      padding-right: rem(1);
      color: $colorCtaNav;
    }
    
    .btn {
      margin-bottom: 0;
    }
  
  }

  .form-radio-group {
    @include font(-1);
    margin-bottom: rem(1.5);

    & > * {
      float: left;
      margin-right: rem(1.5);
    }

    label:before {
      @include centerBlock(0.5,true);
    }

    & > *:last-child {
      margin-right: 0;
    }
  }

  &_advantages {
    padding: 0;

    & > li {
      padding-left: rem(2);

      &:before {
        left: rem(0.5);
      }

    }
  }
}

.slider {
  @include borderRadius(0.35);
  @include centerBlock(1,2);
  position: relative;
  width: 100%;
  height: rem(0.7);
  background: $colorBackgroundMain;
  cursor: pointer;

  &-progress {
    @include borderRadius(inherit);
    @include posAbs(0,false,false,0);
    height: 100%;
    background: rgb(61, 125, 202);
  }

  &-handle {
    @include gradient(vertical,(rgb(15,179,202) 0%, rgb(9,127,201) 100%));
    display: block;
    height: rem(2);
    width: rem(1);
    margin-left: rem(-0.5);
    position: relative;
    float: right;
    top: rem(-0.7);
    cursor: ew-resize;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
  }
}



/* ---------------------------------------------------------------------- *\
  GOVERNMENT NOTIFICATION
\* ---------------------------------------------------------------------- */

.gov-not {
  @include font(1,2);
  padding: rem(2 1);
  color: $colorFontDarkSoft;

  & > * {
    vertical-align: middle
  }

  img {
    float: right;
    width: 70%;
  }

}



/* ---------------------------------------------------------------------- *\
  FEATURED IN
\* ---------------------------------------------------------------------- */

.business-featured {
  padding: rem(2 1);

  &_items > * {
    @include font(-1);
    padding: rem(1 0.5);
    text-align: center;

    span {
      display: block;
      height: rem(4);
      margin-bottom: rem(0.8);
      position: relative;
    }

    img {
      @include centerAbs;
      display: block;
      max-height: 100%;
      max-width: 70%;

      @include breakPoints(false,$bpMobileLandscape) {
        max-width: 40%;
      }
    }
  }
}



/* ---------------------------------------------------------------------- *\
  WHO WE ARE
\* ---------------------------------------------------------------------- */

.who-we-are-wrap {

  @include breakPoints(false,$bpMobileLandscape) {
    padding: rem(2 0);
  } 

  @include breakPoints($bpMobileLandscape,false) {
    padding: rem(2);
  }

  h3 {
    @include font(3,3);
    color: $colorFontLight;
    font-weight: 400;
    margin-bottom: rem(1);
  }

  p {
    @include font(1,2,300);

    strong {
      font-weight: 400;
    }
  }

}



/* ---------------------------------------------------------------------- *\
  FAST APPLY - STRAIGHTFORWARD APPLICATION
\* ---------------------------------------------------------------------- */

.business-fast-apply {
  padding: rem(3 1);
  font-weight: 300;

  &_info {
    margin-bottom: rem(1.5);
    
    & > div:first-child {
      padding-right: rem(1);
    }

    h2 {
      @include font(3);
      font-weight: inherit;
      margin-bottom: rem(1);      
    }

  } // _info

  &_icons {
    @include font(-1,true,400);

    & > div {
      padding: rem(0 1);

      & > a {
        font-weight: 700;
      }
    }

    img {
      @include centerBlock(0,2);
      display: block;
      height: rem(6);
    }

    h4 {
      @include font(2,false,300);
      color: $ColorBrand-1;
      margin-bottom: 0;   
    }
  } // _icons
}

.box-nesta {
  @include font(-1);
  background: $colorBackground-2;
  text-align: center;
  padding: rem(0.5);

  h3 {
    margin-bottom: rem(0.5);

    img {
      height: rem(1);
    }
  }
}



/* ---------------------------------------------------------------------- *\
  BUSINESS QUESTIONS
\* ---------------------------------------------------------------------- */

.business-questions {
  padding: rem(3 1);

  h2 {
    @include font(3,false,300);
    text-align: center;
    margin-bottom: rem(1);
  }

  &-item {
    margin-bottom: rem(1);

    & > * {
      @include font(-1);
      vertical-align: middle;
      padding: rem(0 0.5);
    }

    & > div > * {
      display: block;
    }

    &_thumb > * {
      width: 100%;
      height: auto;
    }

  }

}



/* ---------------------------------------------------------------------- *\
  BUSINESS LOANS
\* ---------------------------------------------------------------------- */

.business-loans-wrap {
  @include font(-1);
  padding: rem(5 1);

  &_thumb {

    @include breakPoints($bpMobileLandscape,false) {
      padding-right: rem(3);
    }

    img {
      @include centerBlock(0,true);
      display: block;
      width: 100%;
      max-width: rem(15);
    }

  }

  &_info {
    @include breakPoints($bpMobileLandscape,false) {
      padding-left: rem(3);
      border-left: 1px solid $colorDividerMain;
    }
    
    &_note {
      display: block;
      font-style: italic;
      padding-bottom: rem(1.5);
      color: $colorCtaNav;
    }
    
    p {
      margin-bottom: rem(1);
    }

    ul {
      padding-left: rem(1);

      @include breakPoints(false,400px) {
        margin: 0;
      }

    }

    li {
      padding-bottom: rem(1);
    }

  }

  h3 {
    @include font(2);
    color: $ColorBrand-2;
    margin-bottom: rem(1);
  }

}



/* ---------------------------------------------------------------------- *\
  LEADERSHIP TEAM
\* ---------------------------------------------------------------------- */

%about-us-h2 {
  @include font(3);
  text-align: center;
  font-weight: 400; 
}

.leaders {
  @extend .table--eq;
  text-align: center;

  &-wrap {

    margin-bottom: rem(2);

    h2 {
      @extend %about-us-h2;
    }
  }

  @include groupElements(0 $bpMobileLandscape, 2);


  &_item {
    padding-bottom: rem(2);

    * {
      display: block;
    }
    
    img {
      @include centerBlock(false,0.5);
    }

    &_name {
      @include font(1);
    }

    &_position {
      font-weight: 300;
      @include breakPoints(0, $bpMobileLandscape) {
        br {
          display: none;
        }     
      }     
    }
  } // _item
}



/* ---------------------------------------------------------------------- *\
  ABOUT US
\* ---------------------------------------------------------------------- */

.about-us {
  
  &-intro {
    h2 {
      @extend %about-us-h2;
      color: $ColorBrand-1;
    }   
  }

  &-press {
    &_list {
      @include table(top, 0px 480px, false, 3 6, true);
    }

    &_img {
      img {
        display: block;
        width: 100%;
      }
    }

    &_title {
      display: block;
      font-weight: 600;
      margin-bottom: rem(0.5);
    }

    &_excerpt {
      p {
        @include font(0);
      }
    }

    h2 {
      @extend %about-us-h2;
    }

  }

  &-media-coverage {
    @include table(middle, false 320px, false false, 6 2);

    & > a {
      white-space: nowrap;
    }

    &_items {
      & > div {
        @include table(middle, $padding: 0);
        width: auto;
        max-width: 100%;

        
        img {
          display: block;
          width: 100%;
          // max-width: 100%;
          // max-height: rem(3);
        }
      }
    }
  }

}


/* ---------------------------------------------------------------------- *\
  BOXES SPACED
\* ---------------------------------------------------------------------- */

$boxesSpacedGap: rem(2);

.boxes-spaced {
  border-spacing: $boxesSpacedGap;
  position: relative;
  table-layout: fixed;

  &_item {
    background: $colorBackgroundMain;
    padding: rem(2);  
    
    @include breakPoints(false,$bpMobileLandscape) {
      margin-bottom: rem(1.5);
    }
  }

  h2 {
    font-weight: 300;
    padding-bottom: rem(1);
    margin-bottom: rem(1.5);
    border-bottom: 1px solid $colorDividerMain;
  }

  p {
    text-align: left;
  }

  @include breakPoints(false,$bpMobileLandscape) {
    padding: rem(1.5);
  }

  @include breakPoints($bpMobileLandscape,false) {
    top: negative($boxesSpacedGap*2);
    margin-bottom: negative($boxesSpacedGap*2);
  }

}




/* ---------------------------------------------------------------------- *\
  BOXES SPACED
\* ---------------------------------------------------------------------- */

.business-loan-trust {
  background: $colorBackgroundMain;
  padding: rem(2);
  border: 1px solid $colorDividerMain;

  @include breakPoints($bpMobileLandscape,false) {
    width: 45%;
  }

  h4 {
    @include font(3,true,300);
    color: $colorFontDarkSoft;
    margin-bottom: rem(0.8);
  }

  p {
    display: block;
    margin-bottom: rem(1);
  }

  small {
    @include font(-1);
    display: block;
    margin-bottom: rem(0.4);
  }

  & > img {
    display: block;
    width: 100%;
    max-width: rem(9);
  }

}

.loan-trust-stars {
  display: inline-block;
  color: $colorFontDarkSoft;

  & > * {
    @include font(0,1.5);
    @include borderRadius(0.2);
    margin-right: rem(0.15);
    float: left;
    background: rgb(0, 127, 78);
    width: rem(1.5);
    height: rem(1.5);
    color: $colorFontLight;
    text-align: center;
  }

  @include clear;
}


